@value mediaQuery from '../../common/size.css';
@value makerMain from '../../common/colors.css';
@value makerBorder from '../../common/colors.css';

.maker {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: makerWhite;
}

.container {
    flex: 1;
    display: flex;
    min-height: 0;
    flex-direction: column;
    max-width: 1280px;
    margin: 0 auto;
    width: 100%;
}

.logout {
    background-color: black;
    color: white;
    position: fixed;
    top: 2em;
    right: 2rem;
    width: 3.5rem;
    height: 1.5rem;
    border: none;
    border-radius: 16%;
}

.topContainer{
    flex-basis: 65%;
    background-color: makerMain;
    display: flex;
    max-height: 65%;
}

.bottomContainer{
    flex-basis: 35%;
    border-top: 1px solid makerBorder;
    
}
