@value makerGreen, makerBlack, makerWhite from '../../common/colors.css';

.header {
  width: 100%;
  text-align: center;
  padding: 0.5em;
  background-color: #161b22;
  position: relative;
  display: flex;
  align-content: center;
}

.logo {
  width: 3em;
}

.title {
  margin: 0;
  color: makerWhite;
  line-height: 45px;
  padding-left: 1rem;
}

.logout {
  position: absolute;
  right: 3em;
  top: 1em;
  padding: 0.8em;
  border-radius: 20%;
  background-color: makerBlack;
  color: makerWhite;
  outline: 0;
  border: 0;
  cursor: pointer;
}
