@value makerBorder from '../../common/colors.css';

.footer {
  width: 100%;
  /* background-color: makerGreen; */
  text-align: center;
  border-top: 1px solid makerBorder;
  margin-top: 1em;
}

.title {
  color: #8b949e;
  font-size: 12px;
}
