.grass{
    
    border-radius: 1.6px; 
    margin: 2px; 
    width: 11px; 
    height: 11px;
}


.grass_basic {
    border-radius: 1.6px; 
    margin: 2px; 
    width: 11px; 
    height: 11px;
    background-color: #161b22;
    border-color: rgba(27, 31, 35, 0.06);
}

.grass_levelOne {
    border-radius: 1.6px; 
    margin: 2px; 
    width: 11px; 
    height: 11px;
    background-color: #0e4429;
    border-color: rgba(255, 255, 255, 0.05);
}

.grass_levelTwo {
    border-radius: 1.6px; 
    margin: 2px; 
    width: 11px; 
    height: 11px;
    background-color: #006d32;
    border-color: rgba(255, 255, 255, 0.05);
}
.grass_levelThree {
    border-radius: 1.6px; 
    margin: 2px; 
    width: 11px; 
    height: 11px;
    background-color: #26a641;
    border-color: rgba(255, 255, 255, 0.05);
}
.grass_levelfour {
    border-radius: 1.6px; 
    margin: 2px; 
    width: 11px; 
    height: 11px;
    background-color: #39d353;
    border-color: rgba(255, 255, 255, 0.05);
}